includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    parallel:
        maximumNumberOfProcesses: 4
    inferPrivatePropertyTypeFromConstructor: true
